:root {
  --green: rgb(0, 225, 159);
  --darkgreen: rgb(0, 139, 76);
}
html,
body,
section {
  background-color: #f1ecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 16px Arial, sans-serif;
}
body {
  max-width: 600px;
}
h1 {
  font-size: clamp(1.75rem, 2.5vw, 3rem);
  font-weight: bold;
}
h2 {
  font-size: clamp(1.25rem, 1.75vw, 2rem);
  font-weight: bold;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-logo {
  height: 100px;
}
.header-image {
  height: 300px;
}
section {
  margin: 1rem 0;
}
.main-headline {
  margin-bottom: 0.75rem;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommendation-wrapper {
  padding: 2rem 0;
  display: flex;
}
.green {
  width: 100%;
  color: black;
  background-color: var(--green);
}
footer {
  color: gray;
  font-size: 0.5rem;
  margin-bottom: 100px;
}
.button {
  border-radius: 50px;
  font-style: bold;
  border-style: none;
  border: 2px solid black;
  max-width: 200px;
  height: 2rem;
  padding: 0 1.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: var(--darkgreen);
  color: white;
}
.recommendation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recommendation-image > img {
  width: 225px;
  margin-right: 1rem;
}
.recommendation-headline {
  text-decoration-line: underline;
}
.cta-section {
  padding: 3rem 0;
}
.cta-section > h1 {
  margin-bottom: 1rem;
}
.social-icon-wrapper {
  display: flex;
  gap: 1.5rem;
}
.social-headline {
  margin-bottom: 1rem;
}
.icon {
  width: 35px;
  background-color: var(--green);
  border-radius: 50px;
  padding: 0.5rem;
}
